.container{
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    margin-bottom: 1rem;
}

.container h1 {
    font-size: 1rem;
    color: var(--gray-300);
    line-height: 1.4;
}

.container .boldText{
    font-weight: bold;
}

.container .lighterText{
    font-weight: lighter;
}