.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: var(--gray-400);
  padding: 0rem 1rem;
  height: 4.5rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.checkedContainer {
  background: var(--gray-500);
}

.container svg {
  color: var(--gray-300);
}

.container .button svg {
  color: var(--white);
}

.container + .container {
  margin-top: .75rem;
}

.container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  box-shadow: none;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue-400);
  outline: none;
  cursor: pointer;
}

.checkedButton {
  border: 2px solid var(--purple-700);
  background-color: var(--purple-700);
  max-width: 24px;
  max-height: 24px;
}

.container div .content{
  font-size: 1rem;
  align-self: flex-start;
  margin: 0 .8rem;
  color: var(--gray-100);
  font-weight: lighter;
  max-width: 92%;
  word-break: break-all;
}

.container div .concludedContent{
  color: var(--gray-300);
  text-decoration: line-through;
}

.delete {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
